## NOTICE: This file is written by ansible, and any changes made here will be overwritten on next provision.
#           Modify azavea.opentripplanner/templates/otp.conf.j2 to make changes stick.
description "OpenTripPlanner"

start on {{ otp_upstart_start_on }}
stop on shutdown

respawn
setuid {{ otp_user }}
chdir {{ otp_bin_dir }}

script
    exec /usr/bin/java -Xmx{{otp_process_mem}} -jar {{ otp_bin_dir }}/{{ otp_jar_name }} --server --analyst --port {{ otp_web_port }} --graphs {{ otp_data_dir }}
end script
